sourceDir = "{{ .chezmoi.homeDir }}/.config/dotfiles"
mode = "symlink"

[diff]
exclude = ["scripts"]

[status]
exclude = ["scripts"]

[edit]
apply = true
watch = false

[git]
autoAdd = false
autoCommit = false
autoPush = false

[data]
email = "claude@backman.fyi"
